include pug/_nav.pug
include pug/_berita1.pug
include pug/_berita.pug
include pug/_footer.pug
include pug/_home.pug
include pug/_kontak.pug
include pug/podcastsystem.pug
include pug/_Redaksi.pug
include pug/_visimisi.pug
include pug/_Privacy.pug
include pug/_featuresheader.pug
include pug/_smart.pug
include pug/_prestasi.pug
include pug/_team.pug
include pug/_disclaimer.pug
include pug/_live.pug
include pug/_member.pug
include pug/_pedoman.pug
include pug/_cloud1.pug
include pug/_galeri.pug
include pug/_national.pug
include pug/_newscard.pug
include pug/_bercard.pug
include pug/_faqcard.pug
include pug/_natcard.pug
include pug/_header.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title PensNews - Berita
    block rel
      link(rel="stylesheet" href="css/navfot.css")
  body
    +nav()
    block main
    +footer()