include pug/_nav.pug
include pug/_berita1.pug
include pug/_berita.pug
include pug/_footer.pug
include pug/_home.pug
include pug/_news.pug
include pug/_kontak.pug
include pug/podcastsystem.pug
include pug/_Redaksi.pug
include pug/_visimisi.pug
include pug/_Privacy.pug
include pug/_featuresheader.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title PensNews - Berita
    block rel
      link(rel="stylesheet" href="css/navfot.css")
  body
    +nav()
    block main
    +footer()