include componen/_nav.pug
include componen/_footer.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title PensNews - Berita
    block rel
      link(rel="stylesheet" href="css/navfot.css")
  body
    +nav()
    block main
    +footer()