extends _template.pug
block rel
    link(rel="stylesheet" href="css/cloud1.css")
block main
  .header-content
      .marquee
          p PensNews merupakan sebuah website yang menyediakan sebuah berita hangat dan menarik yang terdapat didalam negeri maupun diluar negeri
  .breadcrumbs
    .breadcrumb-item
      a(href="#") Features >
    .breadcrumb-item
      a(href="#") Cloud Library
  .atas
      strong Solusi Perpustakaan Modern di Era Digital

  section.intro
      h2 Apa Itu Cloud Library?
      p Cloud Library adalah perpustakaan digital yang memungkinkan akses mudah ke koleksi buku dan media lain melalui internet. Dengan teknologi cloud, Anda dapat mengakses berbagai materi kapan saja dan di mana saja.
  -const features = [{imageSrc: 'https://storage.googleapis.com/a1aa/image/OjaBDGF3FS5dMJtwnYA0xgewFUk9ePgvxcB0TvTnxefhKMlOB.jpg',title: 'Akses Kapan Saja',description: 'Dengan Cloud Library, Anda bisa mengakses buku kapan saja, di mana saja, selama terhubung dengan internet.'},{imageSrc: 'https://storage.googleapis.com/a1aa/image/uNDrh2Y0L3pLCV9ZyfersKY1tpg1ju8gwN9Bkdw8bdArCTpTA.jpg',title: 'Sinkronisasi Antar Perangkat',description: 'Progres baca tersimpan otomatis dan bisa diakses dari berbagai perangkat.'},{imageSrc: 'https://i.ibb.co.com/8sCRfgL/Sync-your-presets-new-feature-summary-pjpeg-jpeg-Size-200-wid-1000.webp',title: 'Pencarian Cepat',description: 'Temukan buku yang Anda cari dengan cepat menggunakan fitur pencarian canggih.'}]
  section.features1
    each feature in features
      +featureItem(feature.imageSrc, feature.title, feature.description)  
  section.benefits
    h2 Keuntungan Menggunakan Cloud Library
    ul
      li Mudah diakses kapan saja dan di mana saja
      li Hemat ruang, tanpa perlu menyimpan buku fisik
      li Sinkronisasi antar perangkat, memudahkan kelanjutan bacaan
      li Fitur rekomendasi bacaan berdasarkan minat
  -const testimonials = [{ quote: "Cloud Library sangat membantu saya dalam mengakses buku untuk riset. Sangat praktis dan mudah digunakan!", author: "Andi, Mahasiswa" },{ quote: "Saya bisa melanjutkan bacaan di ponsel atau tablet tanpa kehilangan progres. Fitur sinkronisasi ini benar-benar luar biasa!", author: "Budi, Pekerja Kantoran" },{ quote: "Pilihan bukunya lengkap dan tersedia kapan pun saya mau. Cloud Library adalah solusi cerdas untuk pencinta buku digital.", author: "Clara, Pengusaha" }]
  section.testimonials
    #testimonial-container
      each testimonial in testimonials
        +testimonialItem(testimonial.quote, testimonial.author)

