extends _template.pug
block rel
    link(rel="stylesheet" href="css/galeri.css")
block main
  .header-content
    .marquee
      p PensNews merupakan sebuah website yang menyediakan sebuah berita hangat dan menarik yang terdapat didalam negeri maupun diluar  negeri
  div.breadcrumbs
    div.breadcrumb-item
        a(href="#") Indeks >
    div.breadcrumb-item
        a(href="#") Galeri
  section.gallery
  h1 Galeri
  h2.gambar Gambar
  -const images = [{src: 'https://storage.googleapis.com/a1aa/image/kKYnk8P7saZVIlB9jkmNxeomIIiN9xOhCS7XkW7pQcNMap0JA.jpg', alt: 'Gambar 1'},{src: 'https://i.ibb.co.com/SKzb6dV/depositphotos-151402814-stock-photo-business-team-celebrating-success.webp', alt: 'Gambar 2'},{src: 'https://storage.googleapis.com/a1aa/image/hi8s80J6TjbALFyysFVoIkIYhFeG6sR9pAzfbmSnjgcX0SpTA.jpg', alt: 'Gambar 3'}]
  #gallery-images.gallery-images
    each image in images
      +GalleryImage(image.src, image.alt)
  -const videos = ['halaman indeks copy/mindset.mp4','halaman indeks copy/TI.mp4']
  h2 Video
  #gallery-videos.gallery-videos
    each video in videos
      +GalleryVideo(video)