extends _template.pug
block rel
    link(rel="stylesheet" href="css/kontak.css")
block main
  .header-content
    .marquee
      p PensNews merupakan sebuah website yang menyediakan sebuah berita hangat dan menarik yang terdapat didalam negeri maupun diluar  negeri
  div.breadcrumbs
    div.breadcrumb-item
        a(href="#") About Us >
    div.breadcrumb-item
        a(href="#") Kontak
  .div.headers
    h1 Kontak PensNews
  iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23191.911140982134!2d113.86804132173707!3d-7.000666546541311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd9e42ac6da1bc7%3A0xdc14634f24fc149b!2sAlun-Alun%20Taman%20Adipura%20Kota%20Sumenep!5e0!3m2!1sid!2sid!4v1729950488642!5m2!1sid!2sid" width="600" height="450")
  -const kontak = [{image: {src: "https://storage.googleapis.com/a1aa/image/jA8WCifg3ESTZC9PRxugMCRXmQNVN0UiSddqvbBcN1GLOp0JA.jpg",alt: "Woman with headset working on a laptop",width: "300",height: "200"},title: "Tentang Kami",content: "Selamat datang di PensNews, sumber terpercaya untuk berita terkini dan informasi yang mendalam. Kami didirikan dengan misi untuk menyajikan berita yang akurat, objektif, dan relevan bagi masyarakat. Di era informasi yang cepat berubah, kami berkomitmen untuk memberikan analisis yang tajam dan liputan yang komprehensif tentang berbagai isu yang memengaruhi kehidupan sehari-hari."},{image: {src: "https://storage.googleapis.com/a1aa/image/LX7f1WIUrN0KTiEPixY9zoE4vmTj8E9y5TSB6VQ6yxbMOp0JA.jpg",alt: "Motivational quote: 'Because struggle is a sign of your journey to success'",width: "300",height: "200"},title: "Hubungi Kami",content: "Kami di PensNews percaya bahwa komunikasi yang baik adalah kunci untuk membangun hubungan yang kuat dan saling menguntungkan. Kami selalu terbuka untuk mendengarkan suara Anda, baik itu pertanyaan, saran, maupun umpan balik. Setiap masukan dari Anda sangat berarti bagi kami dan membantu kami untuk terus berinovasi dan meningkatkan layanan yang kami tawarkan."}]
  each block in kontak
    +kontak(block.image, block.title, block.content)
  .rating-container
    input(type="radio" id="star5" name="rating" value="5")
    label(for="star5") &#9733;
    input(type="radio" id="star4" name="rating" value="4")
    label(for="star4") &#9733;
    input(type="radio" id="star3" name="rating" value="3")
    label(for="star3") &#9733;
    input(type="radio" id="star2" name="rating" value="2")
    label(for="star2") &#9733;
    input(type="radio" id="star1" name="rating" value="1")
    label(for="star1") &#9733;
  p.rating-text Beri rating untuk mendukung perusahaan ini