include pug/nav.pug
include pug/news.pug
include pug/footer.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title PensNews - News
    link(rel="stylesheet" href="css/news.css")
  body
   +nav()
   +news1()
   +footer()