extends _template.pug
block rel
    link(rel="stylesheet" href="css/podcast.css")
block main
  header
  .header-content
    .marquee
      p PensNews merupakan sebuah website yang menyediakan sebuah berita \
        hangat dan menarik yang terdapat didalam negeri maupun diluar negeri

  .breadcrumbs
    .breadcrumb-item
      a(href="#") Features >
    .breadcrumb-item
      a(href="#") Podcast System

  .version VERSION 8!
  img.main-image(
  src="https://storage.googleapis.com/a1aa/image/NlUefQbztjmcepG2lkkJvEtCfmNrSfXh7SUAHuyfw8KaouU6E.jpg",
  alt="Hands working on a laptop with a stylus on a purple background",
  width="600",
  height="300"
)
  -const sections = [{title: "CREATE YOUR PODCAST",images: [{ src: "https://storage.googleapis.com/a1aa/image/mlDC7ghwQVq0GR6OETtwv4YpRogxe1paec5mXWtN3que0lSnA.jpg", alt: "Screenshot of a podcast creation tool interface" },{ src: "https://storage.googleapis.com/a1aa/image/XUJAj4hfbxwFZCNBwdK4y2dhebhFFGXwZEynAzq0xf6epLlOB.jpg", alt: "Screenshot of various podcast episodes" },{ src: "https://storage.googleapis.com/a1aa/image/B9XE9U6L9YZ2HNQ4LXenz7s9UdrMxWluEDarkkPPMeXa6SpTA.jpg", alt: "Screenshot of a podcast player interface" },{ src: "https://storage.googleapis.com/a1aa/image/kWysfU09Mj2wDSVOMaAj68Emr2tBbRXw8172eirCfwA50lSnA.jpg", alt: "Screenshot of a podcast website with multiple episodes" },{ src: "https://storage.googleapis.com/a1aa/image/5FdDU23SgdIuKxpwD1Bqs0tA07q9ceGmSrhc2hkQWl3Mdp0JA.jpg", alt: "Screenshot of a podcast website with a dark theme" }]},{title: "USE THE RECOMMENDATION TOOLS", images: [{ src: "https://i.ibb.co.com/rfdBJTQ/Dream-Job-System-Podcast-Featured-Image-Cultivated-Culture.png", alt: "Screenshot of a podcast creation tool interface" },{ src: "https://i.ibb.co.com/02CFvfk/images-1.jpg", alt: "Screenshot of various podcast episodes" },{ src: "https://i.ibb.co.com/M8tDFjZ/convertkit-9i3-OAIUHd-Y-unsplash.jpg", alt: "Screenshot of a podcast player interface" },{ src: "https://i.ibb.co.com/q7k5Z5b/imageER.jpg", alt: "Screenshot of a podcast website with multiple episodes" },{ src: "https://i.ibb.co.com/DkTqnYv/images.jpg", alt: "Screenshot of a podcast website with a dark theme" }]}]

