extends _template.pug
block rel
    link(rel="stylesheet" href="css/smart.css")
block main
  - const features = [
  { image: "https://storage.googleapis.com/a1aa/image/SZuvGejJUKzFVC9XkCU4LLjbIfeyfOYuob8jmEFSB8pJuLlOB.jpg", altText: "Fly-out menus", text: "Fly-out menus" },
  { image: "https://storage.googleapis.com/a1aa/image/dwewP6AlKHRpHSwu8MrhwpM3ed52e07GM6MI0hSZxHyC3lSnA.jpg", altText: "Subscriptions", text: "Subscriptions" },
  { image: "https://storage.googleapis.com/a1aa/image/X9LFRE6qmvr3FReZKsQDGgh9kM9Fsta80CFwnyX9QkSydp0JA.jpg", altText: "Pop-up Ads", text: "Pop-up Ads" },
  { image: "https://storage.googleapis.com/a1aa/image/64pft4fgdgkSeIfAYh2u82QLPxJ1NcurRHe5qqMe6hro5uU6E.jpg", altText: "Custom Pages", text: "Custom Pages" }
]


  .features
    each feature in features
      +FeatureItem(feature.image, feature.altText, feature.text)