iframe {
    display: block;
    margin: 10px auto; 
    margin-bottom: 30px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.breadcrumbs {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.breadcrumb-item {
    background-color: #ddd;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.breadcrumb-item a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}
.breadcrumb {
    margin: 20px;
    font-size: 18px;
}

.breadcrumb a {
    color: #003366;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.content .text {
    max-width: 50%;
}

.content .text h1 {
    font-size: 24px;
    color: #003366;
}

.content .text p {
    font-size: 18px;
}

.info-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.info-section div {
    max-width: 45%;
}

.info-section h2 {
    font-size: 20px;
    color: #003366;
}

.info-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.info-section ul li {
    font-size: 16px;
}
.headers {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marquee {
    right: 20px; 
    bottom: 10px; 
    width: 50%; 
    height: 25px;
    overflow: hidden;
    background-color: #0a3469;
    color: white;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 18px;
    margin-top: 10px; 
    margin-left: 20px;
}
  
  .marquee p {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 17s linear infinite;
    line-height: 0%;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(30%);
    }
    to {
      transform: translateX(-100%);
    }
  }