* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.atas {
    color: #000000;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    font-size: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.intro {
    padding: 20px;
    text-align: center;
}

.intro h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1.1em;
    color: #555;
}

.features1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
}

.feature-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: translateY(-10px);
}

.feature-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.feature-item h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.feature-item p {
    color: #777;
}

.benefits {
    background-color: #e8f6f3;
    padding: 20px;
    text-align: center;
}

.benefits h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.benefits ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.benefits li {
    font-size: 1.1em;
    color: #555;
    margin: 10px 0;
}

.testimonials {
    padding: 20px;
    text-align: center;
}

.testimonials h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.testimonial-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    color: #555;
    font-style: italic;
}

.testimonial-item span {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #888;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.marquee {
    right: 20px; 
    bottom: 10px; 
    width: 50%; 
    height: 25px;
    overflow: hidden;
    background-color: #0a3469;
    color: white;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 18px;
    margin-top: 10px; 
    margin-left: 20px;
}
  
  .marquee p {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 17s linear infinite;
    line-height: 0%;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(30%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .breadcrumbs {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.breadcrumb-item {
    background-color: #ddd;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.breadcrumb-item a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}
.breadcrumb {
    margin: 20px;
    font-size: 18px;
}

.breadcrumb a {
    color: #003366;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
