* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:'Abhaya Libre', sans-serif;
    background-color: #f0f0f0;
    font-weight: 600;
  }
  
  nav {
    background-color: #0a3469;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding: 6px 10px; 
    border-radius: 20px; 
    border: 1px solid #ccc; /
  }
  
  .logo img {
    width: 50px; 
    height: auto;
    margin-right: 20px;
  }
  
  .brand-name {
    display: flex; 
    align-items: center; 
}

.brand-name .pens {
    color: rgb(0, 0, 0);
    text-decoration: none; 
    font-weight: bold; 
    font-size: 24px; 
}

.brand-name .news {
    color: rgb(2, 23, 31); 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 24px; 
}
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    background-color: #d1d1d1;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #b0b0b0;
  }
  
  nav ul li a.active {
    background-color: #0c5975;
    color: #fff;
  }
  
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; 
    height: auto;
    margin-right: 20px;
}

.brand-name {
    color: #000000;
    font-family:'Abhaya Libre', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
   display: flex;
   margin-left: 95px;
   gap: 25px;
}

nav ul li {
    margin-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    background-color: #d1d1d1;
    padding: 8px 15x;
    border-radius: 20px;
    position: relative; 
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #b0b0b0;
}

nav ul li a.active {
    background-color: #1fc3e8;
    color: #000;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: rgb(245, 245, 245); 
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%; 
}
