mixin galeri()
  body
    header
      .header-content
        .marquee
          p PensNews merupakan sebuah website yang menyediakan sebuah berita hangat dan menarik yang terdapat didalam negeri maupun diluar negeri

    .breadcrumbs
      .breadcrumb-item
        a(href="#") Features >
      .breadcrumb-item
        a(href="#") Cloud Library

    section.gallery
      h1 Galeri

      h2.gambar Gambar
      #gallery-images.gallery-images

      h2 Video
      #gallery-videos.gallery-videos

    script.
      const images = [
        {
          src: "https://storage.googleapis.com/a1aa/image/kKYnk8P7saZVIlB9jkmNxeomIIiN9xOhCS7XkW7pQcNMap0JA.jpg",
          alt: "Gambar 1"
        },
        {
          src: "https://i.ibb.co.com/SKzb6dV/depositphotos-151402814-stock-photo-business-team-celebrating-success.webp",
          alt: "Gambar 2"
        },
        {
          src: "https://storage.googleapis.com/a1aa/image/hi8s80J6TjbALFyysFVoIkIYhFeG6sR9pAzfbmSnjgcX0SpTA.jpg",
          alt: "Gambar 3"
        }
      ];

      const videos = [
        {
          src: "mindset.mp4"
        },
        {
          src: "TI.mp4"
        }
      ];

      const galleryImagesContainer = document.getElementById("gallery-images");
      images.forEach(image => {
        galleryImagesContainer.innerHTML += `
          <img src="${image.src}" alt="${image.alt}">
        `;
      });

      const galleryVideosContainer = document.getElementById("gallery-videos");
      videos.forEach(video => {
        galleryVideosContainer.innerHTML += `
          <video controls>
            <source src="${video.src}" type="video/mp4">
            Video tidak didukung oleh browser.
          </video>
        `;
      });
