mixin member()
    .header-content
      .marquee
        p PensNews merupakan sebuah website yang menyediakan sebuah berita
          hangat dan menarik yang terdapat didalam negeri maupun diluar negeri
    .breadcrumbs
      .breadcrumb-item
        a(href='#') Beranda >
      .breadcrumb-item
        a(href='#') Pemerintah
    .main-content
      img(src="https://storage.googleapis.com/a1aa/image/dvdycY1S2c6mChO2Drw0sRhUX9x4CeWbmuJHGqXGGee26lSnA.jpg", alt="Best WordPress Membership Plugins", width="600", height="300")
      .text-content
        h2 MEMBERSHIP
        p Memilih plugin yang tepat sangat penting untuk bisnis keanggotaan Anda karena platform yang lebih baik berarti lebih banyak peluang pertumbuhan.
        p Untungnya, kami telah membuat ini sangat mudah bagi Anda dengan menguji plugin keanggotaan paling populer dan memeriksa berbagai faktor seperti kemudahan penggunaan, fitur, opsi penyesuaian, dan harga.
    .features
      .feature-item
        img(src="https://storage.googleapis.com/a1aa/image/Bkft7Xl3ZKwjeELgv2jgoEwyOHZ3y6Sp0Ge6wzKV1cLu6lSnA.jpg", alt="Lock Content Restriction", width="150", height="100")
        p LOCK CONTENT RESTRICTION
      .feature-item
        img(src="https://storage.googleapis.com/a1aa/image/qrJakGl30VKUKl1EQX8Veadr5I802jYM9ex5wdetUsu46lSnA.jpg", alt="Generate Leads", width="150", height="100")
        p GENERATE LEADS
      .feature-item
        img(src="https://storage.googleapis.com/a1aa/image/gLl7ekf6hUmPOUKbFAH3NmmfMhlBuCE0G0xQDYTsiffUrXKdC.jpg", alt="Unlimited Subscription", width="150", height="100")
        p UNLIMITED SUBSCRIPTION
      .feature-item
        img(src="https://storage.googleapis.com/a1aa/image/dvCQgXD0cnrKEB2ByYCVs5mrR2sWF7pvmvCRoHAXGdJWvU6E.jpg", alt="Membership", width="150", height="100")
        p MEMBERSHIP
