mixin prestasi()
    header
      .header-content
        .marquee
          p PensNews merupakan sebuah website yang menyediakan sebuah berita hangat dan menarik yang terdapat didalam negeri maupun diluar negeri
    
    .breadcrumbs
      .breadcrumb-item
        a(href="#") About Us >
      .breadcrumb-item
        a(href="#") Prestasi

    .container3
      .header
        h1 Penghargaan web design terbaik
        p Sejak didirikan pada tahun 1953, salah satu tugas utama Dewan Desain Jerman adalah mengamati, menganalisis, dan mengevaluasi dunia desain internasional. Dengan Penghargaan Desain Jerman, Dewan Desain Jerman telah menetapkan salah satu penghargaan desain yang paling dikenal di dunia.
      
      .images
        img.award-img(src="https://storage.googleapis.com/a1aa/image/kKYnk8P7saZVIlB9jkmNxeomIIiN9xOhCS7XkW7pQcNMap0JA.jpg" alt="Foto Penghargaan")
        img.medal-img(src="https://storage.googleapis.com/a1aa/image/7cSzZoc0rn5zFdAchOX6E1LGQukjMJy1BxQJ50nPYe1Kap0JA.jpg" alt="Medali")
      
      .medals
        h2 Pendapatan medali emas dan perak
        ul
          li
            strong 2019 -
            | Mendapatkan 2 buah medali emas dalam kompetisi
          li
            strong 2024 -
            | Mendapatkan 4 buah medali perak dalam kompetisi
      
      .winner-img
        img(src="https://storage.googleapis.com/a1aa/image/hi8s80J6TjbALFyysFVoIkIYhFeG6sR9pAzfbmSnjgcX0SpTA.jpg" alt="Foto Pemenang")
      
      .pp
        p Dengan adanya penghargaan tersebut, PensNews membuktikan dapat dipercaya karena telah diakui secara resmi atas kualitas dan kredibilitasnya dalam menyajikan informasi yang akurat dan berimbang. Penghargaan ini juga menunjukkan komitmen PensNews dalam menjaga integritas jurnalistiknya dan terus memberikan kontribusi positif bagi masyarakat dengan menyediakan berita yang faktual dan dapat diandalkan.
