body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container5 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}
.section {
    width: 45%;
}
.section img {
    width: 50%;
    height: auto;
}
.title {
    font-size: 24px;
    margin-bottom: 20px;
}
.description {
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
}
.breadcrumbs {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.breadcrumb-item {
    background-color: #ddd;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
}

.breadcrumb-item a {
    color: #555;
    text-decoration: none;
    font-weight: bold;
}
.breadcrumb {
    margin: 20px;
    font-size: 18px;
}

.breadcrumb a {
    color: #003366;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
.marquee {
    right: 20px; 
    bottom: 10px; 
    width: 50%; 
    height: 25px;
    overflow: hidden;
    background-color: #0a3469;
    color: white;
    padding: 5px;
    border-radius: 15px;
    margin-bottom: 18px;
    margin-top: 10px; 
    margin-left: 20px;
}
  
  .marquee p {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 17s linear infinite;
    line-height: 0%;
  }
  @keyframes marquee {
    from {
      transform: translateX(30%);
    }
    to {
      transform: translateX(-100%);
    }
  }