doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title PensNews - Home
    link(rel="stylesheet" href="home.css")
  body
    nav
      .logo
        a(href="index.html")
          img(src="https://i.im.ge/2024/10/13/k6iPsr.logo.png" alt="PensNews")
        span.brand-name
          span.pens Pens
          span.news News
      ul
        li
          a(href="news.html") home
        li 
          a(href="news.html" class="active") News
