* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:'Abhaya Libre', sans-serif;
    background-color: #f0f0f0;
    font-weight: 600;
  }
  
  nav {
    background-color: #0a3469;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
    background-color: #e0e0e0; 
    padding: 6px 10px; 
    border-radius: 20px;
    border: 1px solid #ccc; /
  }
  
  .logo img {
    width: 50px; 
    height: auto;
    margin-right: 20px;
  }
  
  .brand-name {
    display: flex; 
    align-items: center; 
}

.brand-name .pens {
    color: rgb(0, 0, 0);
    text-decoration: none; 
    font-weight: bold; 
    font-size: 24px; 
}

.brand-name .news {
    color: rgb(2, 23, 31); 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 24px; 
}